
<%= form_for @article do |f| %>
　　　<p><%= f.select :genre, [["Skate", "Skate"], ["HipHop", "HipHop"],["Practice", "Practice"] ], :prompt => "選択してください" %></p>
	 <p>動画<%= f.text_field :movie_url %></p>
	 <p>タイトル<%= f.text_field :article_title %></p>
	 <p>記事<%= f.text_field :article_text %></p>
   <p>リンク名<%= f.text_field :link_name %></p>
	 <p>リンク<%= f.text_field :article_url %></p>
     <p id='add-image'>image<%= f.attachment_field :article_images_images, multiple:true %></p>

   <div class="add-image-form"></div>
   <button type="button" class="btn btn-primary active">
      <div class='add-image-buton'>画像を追加する</div>
   </button>

   <button type="button" class="btn btn-danger active">
     <div class='delete-image-buton'>フォームを削除する</div>
   </button>

     <p><%= f.submit 'Create!' %></p>
<% end %>

