
<%= form_for @article do |f| %>
  <%= f.label :genre %>
　　　<p><%= f.select :genre, [["Skate", "Skate"], ["HipHop", "HipHop"],["Practice", "Practice"] ], :prompt => "選択してください" %></p>


   <div class="form-horizontal">
      <%= f.label :movie_url %>
      <div class="form-group">
  	    <%= f.text_field :movie_url, size: "50x10" %>
      </div>
       <%= f.label :article_title %>
      <div class="form-group">
        <p id="counter">0文字</p>
        <p>(10〜35文字）</p>
  	    <%= f.text_field :article_title, size: "50x10", id: "input-text" %>
      </div>
       <%= f.label :article_text %>
      <div class="form-group">
        <p class="text-counter">0文字</p>
        <p>(50〜2000文字）</p>
  	    <%= f.text_area :article_text, size: "100x15", :class => "input-text-area" %>
      </div>
       <%= f.label :link_name %>
      <div class="form-group">
        <%= f.text_field :link_name, size: "50x10" %>
      </div>
       <%= f.label :article_url %>
      <div class="form-group">
  	    <%= f.text_field :article_url, size: "50x10" %>
      </div>
       <%= f.label :article_images_images %>

        <p id='add-image'>
          <%= f.attachment_field :article_images_images, multiple:true %>
        </p>


     <div class="add-image-form"></div>
       <button type="button" class="btn btn-primary active">
         <div class='add-image-buton'>画像を追加する</div>
       </button>

       <button type="button" class="btn btn-danger active">
         <div class='delete-image-buton'>フォームを削除する</div>
       </button>

      <div class="form-group-submit">
       <%= f.submit 'Create!' %>
      </div>
   </div>
<% end %>


