
<h1>記事の詳細ページ</h1>
<%= @article.article_title %>
  <% if @article.movie_url.empty? %>
	    <% @article.article_images.each do |image|  %>
	      <%= attachment_image_tag image, :image, :size=>"100x100" %>
	    <% end %>
 <% else %>
    <iframe width="300" height="300" src= "<%= @article.movie_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen fs="0" origin showinfo="0"></iframe>
   <% end %>


<%= @article.article_text %>
<%= text_url_to_link(h(@article.article_url)).html_safe %>


   <!-- お気に入り機能の読み込みを実行 -->
	<div id="likes_buttons_<%= @article.id %>">
	   <%= render partial: 'favorites/favorite', locals: { article: @article } %>
	</div>



    <!-- コメント投稿、一覧表示部分 -->
	<div>
    <h4>コメント</h4>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
    <% end %>
  </div>



