<div class="container">
  <div class="skate-title-box">
    <h1 class="skate-title">Practice</h1>
  </div>
  <div class="wrap">
  	 	<ul id="tab-menu" class="clearfix">
  	 		<li><a href="#tab1" class="active">新着一覧</a></li>
  	 		<li><a href="#tab2" class="">急上昇</a></li>
  	 	</ul>

	 <div id="tab-contents" class="clearfix">
	 <!--新着記事一覧表示  -->
		  <div id="tab1" class="tab">
			  <% @skate_practice.each do |practice| %>
				 <%= link_to article_path(practice.id) do %>
					<div class="skate-article">
						<div class="col-lg-4 skate-image">
						  <%= attachment_image_tag practice.article_images.last, :image, :size=>"200x200" %>
						</div>
						<div class="col-lg-8 skate-article-box">
						  <h3 class="skate-article-title"><%= practice.article_title %></h3>
						  <p class="skate-article-created"><%=practice.created_at.strftime("%Y.%m.%d. %H:%M") %></p>
						</div>
					</div>
				 <% end %>
			  <% end %>
			    <div class="paginate">
                  <%= paginate @skate_practice, class: "paginate" %>
               </div>
		  </div>

  <!-- 閲覧数ランキング一覧表示 -->
		  <div id="tab2" class="tab">
            <%  if @skate_practice_browse_ranks.present?  %>

			  <% @skate_practice_browse_ranks.each do |practice| %>
				 <%= link_to article_path(practice.id) do %>
					<div class="skate-article">
						<div class="col-lg-4 skate-image">
						  <%= attachment_image_tag practice.article_images.last, :image, :size=>"250x250" %>
						</div>
						<div class="col-lg-6 skate-article-box">
						  <h2 class="skate-article-title"><%= practice.article_title %></h2>
						  <p class="skate-article-created"><%= practice.created_at.strftime("%Y.%m.%d. %H:%M") %></p>
						</div>
					</div>
				 <% end %>
			  <% end %>
			  	<div class="paginate">
                  <%= paginate @skate_practice_browse_ranks, class: "paginate" %>
               </div>

     <% else %>
         <h1 class="article-none-message">急上昇記事はまだありません</h1>
	   <% end %>
		  </div>
     </div>
  </div>
</div>
