<div class="container">
  <div class="skate-title-box">
    <h1 class="skate-title">Skate</h1>
  </div>
  <div class="wrap">
  	 	<ul id="tab-menu" class="clearfix">
  	 		<li><a href="#tab1" class="active">新着一覧</a></li>
  	 		<li><a href="#tab2" class="">急上昇</a></li>
  	 	</ul>

	 <div id="tab-contents" class="clearfix">
	 <!--新着記事一覧表示  -->
		  <div id="tab1" class="tab">
		  	<div class="container-fluid">
			  <% @skate_articles.each do |skate| %>
				 <%= link_to article_path(skate.id) do %>
					<div class="row article-box ">
						<div class="col-md-5 skate-image">
						  <%= attachment_image_tag skate.article_images.last, :image, :size=>"200x200" %>
						</div>
						<div class="col-md-7 skate-article-box">
						  <h3 class="skate-article-title"><%= skate.article_title %></h3>
						   <p class="skate-article-created"><%= skate.created_at.strftime("%Y.%m.%d. %H:%M") %></p>
						</div>
					</div>
				 <% end %>
			  <% end %>
			</div>
			    <div class="paginate">
                  <%= paginate @skate_articles, class: "paginate" %>
               </div>
		  </div>

  <!-- 閲覧数ランキング一覧表示 -->
		  <div id="tab2" class="tab">
		  	<%  unless @skate_browse_ranks.nil?  %>
            <div class="container-fluid">
			  <% @skate_browse_ranks.each do |skate| %>
				 <%= link_to article_path(skate.id) do %>
					<div class="row article-box ">
						<div class="col-md-5 skate-image">
						  <%= attachment_image_tag skate.article_images.last, :image, :size=>"200x200" %>
						</div>
						<div class="col-md-7 skate-article-box">
						  <h3 class="skate-article-title"><%= skate.article_title %></h3>
						   <p class="skate-article-created"><%= skate.created_at.strftime("%Y.%m.%d. %H:%M") %></p>
						</div>
					</div>
				 <% end %>
			  <% end %>
			</div>
			  	<div class="paginate">
                  <%= paginate @skate_browse_ranks, class: "paginate" %>
               </div>

          <% else %>
               <h1 class="article-none-message">急上昇記事はまだありません</h1>
	        <% end %>
		  </div>
     </div>
  </div>
</div>
