<% if article.present? %>
  <div class="col-lg-10 col-lg-offset-1">
    <table class="table">
      	<thead>
      		<th></th>
      		<th>Title</th>
      		<th>Genre</th>
      		<th>Post Date</th>
      		<th></th>
      	</thead>

           <% article.each do |f| %>
      	<thead>
      		<th><%= attachment_image_tag f.article.article_images.last, :image, :size=>"200x150" %></th>
      		<th><%= f.article.article_title %></th>
      		<th><%= f.article.genre %></th>
      		<th><%= f.article.created_at.strftime("%Y.%m.%d") %></th>
      		<th><%= link_to "Detail", article_path(f.article_id), :class => 'cp_btn', :style=>"color:black;" %></th>
      	</thead>
          <% end %>
　　　</table>
　　　   <div class="user-admin-index-paginate">
          <%= paginate(article, :theme => '../kaminari') %>
        </div>
 <% else %>
   <h1 class="favorites-message-none">記事がありません</h1>
   <% end %>
　</div>