<div class="container">
  <h1 class="favorites-title">Clip All</h1>

  <% if @favorites.present? %>
     <% @favorites.each do |f| %>
	   <%= link_to article_path(f.article_id) do %>
		<div class="favorites-article">
		  <div class="col-lg-4 favorites-image">
		   <%= attachment_image_tag f.article.article_images.last, :image, :size=>"250x250" %>
		  </div>
		  <div class="col-lg-6 favorites-article-box">
			<h2 class="favorites-article-title"><%= f.article.article_title %></h2>
			<p class="favorites-article-created"><%= f.article.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
		  </div>
		</div>
	 <% end %>
  <% end %>

   <div class="paginate">
	 <%= paginate @favorites, class: "paginate" %>
   </div>
<% else %>
   <h1 class="favorites-message-none">クリップした記事がありません</h1>
   <% end %>
</div>
