<div class="container">
  <h1 class="users-index-title">Users All</h1>

  <div class="user-search-box form-inline">
    <h3 class="user-search-title">Search</h3>
   <%= form_tag(users_path,:method => 'get') do %>
     <%= text_field_tag :search , "", :class=>"form-control"%>
     <%= submit_tag 'Go', :class =>"btn btn-default btn-sm", :name => nil %>
   <% end %>
  </div>

  <div class="col-lg-10 col-lg-offset-1">
    <table class="table">
      	<thead>
      		<th></th>
      		<th>Name</th>
      		<th>Email</th>
      		<th></th>
          <th></th>
      	</thead>

          <% @users.each do |user| %>
      	<thead>
      		<th><%= attachment_image_tag user, :user_image,fallback: "no_image.jpg", :size=>"100x100" %></th>
      		<th><%= user.last_name %> <%= user.first_name %></th>
      		<th><%= user.email %></th>
      		<th><%= link_to 'Detail', user_path(user.id), :class =>"cp_btn", :style=>"color:black;" %></th>
          <th><%= link_to 'Delete', user_path(user.id), :class =>"cp_btn", :style=>"color:black;", method: :delete, data: {confirm: '本当に退会させますか？'} %></th>
      	</thead>
          <% end %>
　　　</table>
　　　   <div class="user-admin-index-paginate">
          <%= paginate(@users, :theme => '../kaminari') %>
        </div>
　</div>
</div>
