<!DOCTYPE html>
<html>
  <head>
    <title>LifeWithSH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
  </head>

  <body>
    <header>
         <nav>
              <ul class="nav-list">
            <% if user_signed_in? %>
                <li class="nav-list-item-title">
                  <%= link_to "LifeWithS-H", home_path, :style=>"color:black;" %></li>

               <li class="nav-list-item-search form-inline">
                 <%= form_tag(admin_article_index_articles_path, method: :get) do %>
                  <%= text_field_tag :search,"", :class=>"form-control" %>
                  <%= submit_tag 'GO', :class =>"btn btn-default btn-sm" %>
                 <% end %>
               </li>

                <li class="nav-list-item"><i class="fas fa-users" ></i>
                  <%= link_to "About Us",about_path, :style=>"color:black;"%></li>

                <li class="nav-list-item"><i class="fas fa-fire"></i>
                  <%= link_to "Skate",skate_articles_path, :style=>"color:black;" %></li>

                <li class="nav-list-item"><i class="fas fa-walking"></i>
                  <%= link_to "Practice",skate_practice_articles_path, :style=>"color:black;" %></li>

                <li class="nav-list-item"><i class="fas fa-music"></i>
                  <%= link_to "HipHop", hiphop_articles_path, :style=>"color:black;" %></li>

                <li class="nav-list-item"><i class="fas fa-home"></i>
                  <%= link_to "my page", user_path(current_user.id), :style=>"color:black;" %></li>

                <li class="nav-list-item"><i class="fas fa-sign-out-alt"></i>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, :style=>"color:black;" %></li>

          <% else %>

                <li class="nav-list-item-title">
                  <%= link_to "LifeWithS-H", home_path, :style=>"color:black;" %></li>

                <li class="nav-list-item-search form-inline">
                  <%= form_tag(admin_article_index_articles_path, method: :get) do %>
                   <%= text_field_tag :search,"", :class=>"form-control" %>
                   <%= submit_tag 'GO', :class =>"btn btn-default btn-sm" %>
                  <% end %>
                </li>

                <li class="nav-list-item"><i class="fas fa-users"></i>
                  <%= link_to "About Us",about_path, :style=>"color:black;" %></li>

                <li class="nav-list-item"><i class="fas fa-fire"></i>
                  <%= link_to "Skate",skate_articles_path, :style=>"color:black;" %></li>

                <li class="nav-list-item"><i class="fas fa-walking"></i>
                  <%= link_to "Practice",skate_practice_articles_path, :style=>"color:black;" %></li>

                <li class="nav-list-item"><i class="fas fa-music"></i>
                  <%= link_to "HipHop", hiphop_articles_path, :style=>"color:black;" %></li>
            <% end %>
              </ul>
         </nav>
    </header>

      <% flash.each do |key, value| %>
        <% key = "info" if key == "notice" %>
        <% key = "danger"  if key == "alert" %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
      <% end %>

    <%= yield %>

    <footer>
      <p class="contact-text"><%= link_to "Contact Us", new_contact_path, :style=>"color:black;", :class => "cp_btn" %></p>
      <p class="foter-text">CopyRight 2019 KIMITA All right reserved.</p>
    </footer>
  </body>
</html>
